<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{{m_search.title}}</title>
    <link rel="stylesheet" href="/static/css/style.css/">
</head>
<body>
<center><a href="/"><input type="submit" class="button_link" value="На главную"></a></center>
<p class="text_single">Подробнее о фильме: {{m_search.title}}</p>
<center><div class="p_green">
    <p>{{m_search.title}}</p>
    <p>{{m_search.country}}</p>
    <p>{{m_search.release_year}}</p>
    <p>{{m_search.genre}}</p>
    <p>{{m_search.description}}</p>
</div></center>

</body>
</html>