<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Поиск по названию</title>
    <link rel="stylesheet" href="/static/css/style.css/">
</head>
<body><center><a href="/"><input type="submit" class="button_link" value="На главную"></a></center>
<form action="">
    <div>
<input type="search" name='s'></div>
    <br>

<div>
    {% if s=='' %}
    <a href="/search" class="button_link">Введите данные для поиска</a>

    {% elif m_search.title %}
        <p class="text_single">Результат</p>
    <a href="/movie/{{m_search.title}}" class="button_link">{{m_search.title}}</a>
    {% else %}
        <p class="text_single">Результат</p>
    <a href="/search" class="button_link">Ничего не нашли</a>
    {% endif %}
</div>
</form>
</body>
</html>