<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Выбрать год</title>
    <link rel="stylesheet" href="/static/css/style.css/">
</head>
<body>
<a href="/movies"><input type="submit" class="button_link" value="Назад к поиску"></a>
<a href="/"><input type="submit" class="button_link" value="На главную"></a>

<b><p class="text_single">Результаты поиска: {{ start }} - {{ end }}</p></b>


<center>
    <table border="1" width="50%" cellpadding="3" bordercolor="orange" class="demotable">
        <tr>
        <tr>

            <th width="70%">Название</th>
            <th width="30%">Год выпуска</th>
        </tr>

        {% for i in movies %}

            <tr>

                <th width="70%"><a href="/movie/{{ i.title }}">{{ i.title }}</a></th>
                <th width="30%">{{ i.release_year }}</th>
            </tr>
        {% endfor %}

    </table>
</center>

</body>
</html>